<h1>Sample App</h1>
<p>Hi <%= @user.name %>,</p>
<p>Your new password is <%= @tempt_password %> </p>
<p>Wellcome to the Sample App! Click on the link below to set new password:</p>

<%= link_to "Activate", edit_password_reset_url(@reset_token, tempt_password: @tempt_password, email: @user.email)%>